[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
