#!/usr/bin/make -f

# Uncomment for debugging
#export DH_VERBOSE = 1

# Catch-all rule for all the targets. See https://www.debian.org/doc/manuals/maint-guide/dreq.en.html#targets for list
# of targets. We just forward them to dh, which is a helper performing common tasks. It automatically detects our CMake
# build system.
%:
	dh $@

# Debhelper (dh) automatically detects the CMake build-system and runs CMake. Defining this target overrides CMake
# arguments specific to cmag.
override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAG_BUILD_TESTS=OFF     \
	-DCMAG_BUILD_BROWSER=ON    \
	-DGLFW_BUILD_X11=ON        \
	-DGLFW_BUILD_WAYLAND=OFF
